<div id="root" class="flex flex-column">
	<header class="header flex justify-content-between">
		<h1>Market Item Showcase</h1>
		<app-about></app-about>
	</header>
	<div class="flex flex-1">
		<aside class="sidenav">
			<figure>
				<img
					src="./../assets/images/logo.png"
					alt="Logo Market Item Showcase"
				/>
			</figure>
			<nav>
				<a
					class="flex align-items-center gap-2 my-2 p-2"
					routerLink="/view-item"
					routerLinkActive="active"
					><span class="pi pi-box"></span> Dashboard</a
				>
				<a
					class="flex align-items-center gap-2 my-2 p-2"
					routerLink="/add-item"
					routerLinkActive="active"
					><span class="pi pi-cog"></span> Maintenance</a
				>
			</nav>
		</aside>
		<main class="content flex-1">
			<router-outlet></router-outlet>
		</main>
	</div>
</div>
