$sidenav-width: 256px;

$default-padding: 1.5rem;

#root {
	height: 100vh;

	.header {
		background-color: var(--bg-color-100);
		padding: $default-padding;
	}

	.sidenav {
		width: $sidenav-width;
		padding: 0 $default-padding;
		background-color: var(--bg-color-100);

		img {
			border-radius: 20px;
		}
	}

	.content {
		padding: $default-padding;
	}

	nav > a {
		border-radius: 5px;

		&:hover {
			background-color: var(--primary-color-500);
		}
	}
}
