<li class="list p-2 grid align-items-center">
	<div class="col-fixed">
		<span>{{ product.id }}</span>
	</div>
	<div class="col flex justify-content-between align-items-center">
		<h3>{{ product.name }}</h3>
		<p>{{ product.price | currency: 'BRL' }}</p>
	</div>
	<div class="actions col-fixed flex align-items-center">
		<a [routerLink]="['/add-item', product.id]" title="Update"
			><span class="btn-update pi pi-pencil"></span
		></a>
		<button
			pButton
			pRipple
			type="button"
			title="Delete"
			icon="pi pi-trash"
			(click)="delete()"
			class="btn-delete p-button-rounded p-button-text"
		></button>
	</div>
</li>
