:root {
	--bg-color-0: #040d19;
	--bg-color-100: #030b14;
	--bg-color-200: #03080f;

	--primary-color: #0970e5;
	--secondary-color: #d18016;

	--primary-color-100: #0970e5;
	--primary-color-500: #2a588b;
	--primary-color-700: #053974;

	--error-color: #f3312a;
	--warn-color: #f3952a;
	--success-color: #269a02;
	--info-color: #2aa9f3;

	--typg-default-font-color: #e4f5f1;
	--typg-font-color-100: #b0bbb8;
}
